#modal-content {
  display:flex;
  flex-direction:column;
  gap:8px;
  justify-content:center;
  align-items:center;
 }


 #modal-content textarea {
   width:91%;
 }


 #modal-content h4 {
   padding-top:10px;
 }

 #modal-content button {

   display:flex;
   gap:10px;

 }

 #yes-button-review-delete-button > button {
 background-color: red;
 color:white;


 }

 #no-button-review-delete-button > button {
  color:white;
  background-color:darkgray;
  display:flex;
  justify-content:center;
  align-items:center;

 }

 #review-confirm-modal {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;

 }


 .no-button-review-delete {
  color:white;
  background-color:rgb(105, 102, 102);
  display:flex;
  justify-content:center;
  align-items:center;
 }
