.outer-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0px;
  justify-content: center;
}


.photo-container {
  display: flex;
  width: 99%;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 10px;
  padding: 43px;
}

img {
  height: 200px;
  width: 220px;
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-info {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.star-info {
  justify-content: right;
  /* position: fixed; */
  right: 0px;
}

.left-info {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.details-big-photo-container {
  width: 90%;
  display: flex;
  gap: 10px;
}

.preview-image {
  width: 400px;
  height: 400px;
}

.small-images-container {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 10px;
}

.image-wrapper {
  display: flex;
  width: 80%;
}

.try-image {
  border-radius: none;
}

.lower-spot-show {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.price-star-review-wrapper {
  border: 2px solid gray;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.top-price-star-review-wrapper {
  display: flex;
  gap: 20px;
}

.reserve {
  width: 200px;
}

/* label {
  border: 4px solid red
} */

.form-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vw;
  width: 25%;
  margin: 0 auto;
  /* border: 4px solid red; */
}

.reviews-lower {
  border-top: 2px solid gray;
}

.inner-container img {
  border-radius: 7px;
}

.city-state {
  font-family: sans-serif;
  font-weight: 500;
  font-size: smaller;
}

.star-info {
  display: flex;
  gap: 3px;
}

.create-spot-in-manage-spots button {
  background: none;
  border: none;
  text-decoration: none;
}


.header-right {
  border: 2px solid #eae8e8;
}
