#modal-content {
  height: 200px;
  width: 200px;
}


#modal-content button {
  width:200px;
  height: 30px;
}

.photo-container a {
  text-decoration: none;
  color: gray;
}


.photo-container{
  margin: 0px;
}

/* SpotsManage.css */

.booking-action-button {
  background-color: #ff5a5f; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
