.spot-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.spot-card:hover {
  transform: translateY(-5px);
}

.spot-link {
  text-decoration: none;
  color: inherit;
}

.spot-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  display: block;
  border-radius: 7px;
}

.spot-info {
  padding: 10px;
  background-color: white;
}

.spot-location {
  font-size: 14px;
  color: #333;
}

.spot-rating, .spot-price {
  font-size: 16px;
  font-weight: bold;
  color: #FF385C;
}
