.outer-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 60px;
  max-width: 900px;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.spot-name {
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 500;
  padding-bottom: 10px;
}

.spot-photo-wrapper {
  flex: 1;
}


.parent-flex {
  display: flex;
  gap: 10px;
  height: 500px; /* Adjust height as needed */
}

/* Container for the large preview image */
.big-photo-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-photo-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Container for the smaller images */
.small-photo-container {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.small-photo-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reservation-box {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  width: 300px;
}

.booking-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.booking-options input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.price-info {
  font-size: 20px;
  margin-bottom: 15px;
}

.booking-options {
  margin-bottom: 15px;
}

.reserve-button {
  background-color: #ff385c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.spot-info-box {
  display: flex;
  flex-direction: column;

  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.lower-info-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 50%;
}

.top-price-star-review-wrapper {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  height: fit-content;
  width: fit-content;
}

.star-rating {
  color: #ff385c;
  margin-right: 5px;
}

.content-and-reservation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content-wrapper {
  flex: 1;
}

.spot-info-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.host-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.host-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.host-bio {
  font-size: 0.9em;
  color: #666;
  line-height: 1.4;
}

.description {
  font-size: 1em;
  color: #333;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .host-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .host-profile-picture {
    margin-bottom: 10px;
  }

  .description {
    font-size: 0.9em;
  }
}
