.profile-dropdown.hidden {
display: none;
}


.logo {
  width: fit-content;
  height: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}
.sign-up {
  flex-direction: column;
  display: flex;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 99%;
}
.sign-up li {
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.sign-up ul {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 4px;
}
