.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown {
  list-style-type: none;
}

.dropdownItem:hover {
  cursor: pointer;
}

.logo-pic {
  border-radius: 70%;
  height: 60px;
  width: 60px;

}

.header-right {
  display: flex;
  align-items: center;
  border: 0.5px solid rgb(176, 170, 170);
  border-radius: 40%;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.air-logo .active {
  display: flex;
  gap: 10px;
}
.air-logo a {
  color: #ff385c;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.air-logo i {
  color: #ff385c;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
}

.style {
  align-items: center;
}
.upper-right-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
}

.nav-middle {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 999px;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Montserrat;
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
}

.add-guests {
  color: gray;
  position: relative;
}

.anywhere {
  border-right: 0.1px solid gray;
  padding-right: 10px;
}

.anyweek {
  border-right: 0.1px solid gray;
  padding-right: 10px;
}
.search-icon {
  color: white;
  background-color: #ff385c;
  border-radius: 60%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-guests {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-box {
}

.profileButton {
  color: #484848;
  padding: 8px 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.profileButton:hover {
  background-color: darken(#ff385c, 10%);
}

.create-spot-in-manage-spots button {
  background-color: #ff385c;
  color: rgb(25, 19, 19);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-spot-in-manage-spots button:hover {
  background-color: #e03147;
}

.create-spot-in-manage-spots a {
  text-decoration: none;
  color: rgb(34, 34, 34);
  display: block;
  font-family: Montserrat;
}

.nav-item input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nav-item button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-item button:hover {
  background-color: #0056b3;
}

