.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown {
  list-style-type: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  border: .5px solid gray;
  border-radius: 30%;
  padding: 10px;

}

/* .air-logo > .fa {
  width: fit-content;
  display:flex;
  padding-right:10px;
} */
.air-logo .active {
  display: flex;
  gap: 10px;
}
.air-logo a {

  color: #FF385C;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap:10px;
}

.air-logo i {
  color: #FF385C;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.style {
  align-items: center;
}
.upper-right-nav-wrap {
  display: flex;
  align-items: center;
  gap:5px;
}

.profileButton {
  color: #484848;
  padding: 8px 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.profileButton:hover {
  background-color: darken(#FF385C, 10%);
}

.create-spot-in-manage-spots button {
  background-color: #FF385C;
  color: rgb(25, 19, 19);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-spot-in-manage-spots button:hover {
  background-color: #e03147;
}

.create-spot-in-manage-spots a {
  text-decoration: none;
  color: white;
  display: block;
}
